<mat-card>
  <app-dynamic-form [questions]="questions" [actionName]="'Search'" (submitted)="onSubmitted($event)">
  </app-dynamic-form>
  <br>
  <div *ngIf="operationInProgress">
      <mat-spinner></mat-spinner>
  </div>
  <div class="form-row mat-elevation-z8" [ngStyle]="{'display':result?.length > 0 && !operationInProgress ? 'block' : 'none' }">
    <table mat-table [dataSource]="dataSource" matSort>
      <caption></caption>

      <ng-container matColumnDef="classCode">
        <th mat-header-cell *matHeaderCellDef> Class Code </th>
        <td mat-cell *matCellDef="let element"> {{element.classCode}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="eligibility">
        <th mat-header-cell *matHeaderCellDef> Eligibility </th>
        <td mat-cell *matCellDef="let element"> {{element.eligibilty}} </td>
      </ng-container>

      <ng-container matColumnDef="hazardGrade">
        <th mat-header-cell *matHeaderCellDef> Hazard Grade </th>
        <td mat-cell *matCellDef="let element"> {{element.hazardGrade}} </td>
      </ng-container>

      <ng-container matColumnDef="exposureUnit">
        <th mat-header-cell *matHeaderCellDef> Exposure Unit </th>
        <td mat-cell *matCellDef="let element"> {{element.exposureUnit}} </td>
      </ng-container>

      <ng-container matColumnDef="maximumExposure">
        <th mat-header-cell *matHeaderCellDef> Maximum Exposure </th>
        <td mat-cell *matCellDef="let element"> {{element.maximumExposure}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>