<mat-form-field [formGroup]="form">
  <ng-container [ngSwitch]="question.controlType">
    <input *ngSwitchCase="'textbox'" matInput [placeholder]="question.label" [formControlName]="question.key" [id]="question.key" [type]="question.type">

    <mat-radio-group *ngSwitchCase="'radio'" [formControlName]="question.key" [id]="question.key">
        <mat-radio-button *ngFor="let opt of question.options" [value]="opt.key" [id]="opt.id">
          {{opt.value}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-select *ngSwitchCase="'dropdown'" placeholder="{{question.label}}" [formControlName]="question.key" [id]="question.key">
      <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
    </mat-select>
  </ng-container>
</mat-form-field>