<ng-container [ngSwitch]="question.controlType">
    <textbox *ngSwitchCase="'textbox'" [controlFormGroup]="controlFormGroup" [question]="question"></textbox>
    <dropdown *ngSwitchCase="'dropdown'" [controlFormGroup]="controlFormGroup" [question]="question"></dropdown>
    <radio *ngSwitchCase="'radio'" [controlFormGroup]="controlFormGroup" [question]="question"></radio>
    <group *ngSwitchCase="'group'" [controlFormGroup]="controlFormGroup" [question]="question"></group>
    <list *ngSwitchCase="'list'" [controlFormGroup]="controlFormGroup" [question]="question"></list>
</ng-container>