<header class="pt-1">
    <nav mat-tab-nav-bar mat-align-tabs="center">
        <a mat-tab-link [routerLink]="['/example-one']" routerLinkActive #rla1="routerLinkActive"
            [active]="rla1.isActive" [routerLinkActiveOptions]="{ exact: true }">Example One
        </a>
        <a mat-tab-link [routerLink]="['/example-two']" routerLinkActive #rla2="routerLinkActive"
            [active]="rla2.isActive" [routerLinkActiveOptions]="{ exact: true }">Example Two
        </a>
        <a mat-tab-link [routerLink]="['/insurance-quote']" routerLinkActive #rla3="routerLinkActive"
            [active]="rla3.isActive" [routerLinkActiveOptions]="{ exact: true }">Insurance Quote
        </a>
        <a mat-tab-link [routerLink]="['/quick-eligibility']" routerLinkActive #rla4="routerLinkActive"
            [active]="rla4.isActive" [routerLinkActiveOptions]="{ exact: true }">Quick Eligibility
        </a>
        <a mat-tab-link [routerLink]="['/quick-indication']" routerLinkActive #rla5="routerLinkActive"
            [active]="rla5.isActive" [routerLinkActiveOptions]="{ exact: true }">Quick Indication
        </a>
    </nav>
</header>